.appContainer {
  display: flex;
}

.containt {
  width: 100%;
}

.sidebar {
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.cards {
  margin: 20px 10px;
  max-width: 30rem;
}

.tags {
  margin-left: 3px;
}

.create-post {
  margin: 20px;
  width: 50%;
  min-width: 280px;
}

.Welcome-message {
  margin-block: 100px;
}

.spinner {
  margin: 10% 0;
}

.delete {
  left: 95%;
  cursor: pointer;
}